#                              Learning Pandas Chapter 4

In [3]:
import pandas as pd
import numpy as np
s1 = pd.Series(2)

In [6]:
s1

0    2
dtype: int64

In [2]:
import pandas as pd
s2 = pd.Series([1, 2, 3, 4, 5])

In [8]:
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
s2.values[2]

3

In [10]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
s3 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s3

a    1
b    2
c    3
dtype: int64

In [3]:
# scalar value with be copied at each index label
s4 = pd.Series(2, index=s2.index)

In [4]:
s4

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [11]:
a=np.random.seed(123456)

In [12]:
pd.Series(np.random.randn(5))

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
dtype: float64

In [14]:
pd.Series(np.linspace(0, 9, 12))

0     0.000000
1     0.818182
2     1.636364
3     2.454545
4     3.272727
5     4.090909
6     4.909091
7     5.727273
8     6.545455
9     7.363636
10    8.181818
11    9.000000
dtype: float64

In [15]:
# Likewise, the np.arange() method creates an array of values between two specified values:
pd.Series(np.arange(0, 9))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [16]:
s6 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})

In [17]:
s6

a    1
b    2
c    3
d    4
dtype: int64

In [18]:
s = pd.Series([0, 1, 1, 2, 3, 4, 5, 6, 7, np.nan])

In [19]:
s

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    4.0
6    5.0
7    6.0
8    7.0
9    NaN
dtype: float64

In [22]:
len(s)

10

In [23]:
s.size

10

In [24]:
s.shape

(10,)

In [25]:
s.count()

9

In [26]:
s.unique()

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,  nan])

In [27]:
s.value_counts()

1.0    2
7.0    1
6.0    1
5.0    1
4.0    1
3.0    1
2.0    1
0.0    1
dtype: int64

#                      Peeking at data with heads and tails

In [28]:
# would generate first five numbers
s.head()

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [29]:
s.head(2)

0    0.0
1    1.0
dtype: float64

In [31]:
s.tail()

5    4.0
6    5.0
7    6.0
8    7.0
9    NaN
dtype: float64

In [32]:
s.take([0, 3, 9])

0    0.0
3    2.0
9    NaN
dtype: float64

In [35]:
s[[1,2]]

1    1.0
2    1.0
dtype: float64

In [36]:
# series with an integer index, but not starting with 0
s5 = pd.Series([1, 2, 3], index=[10, 11, 12])

In [37]:
s5

10    1
11    2
12    3
dtype: int64

In [38]:
# by value as value passed and index are both integer
s5[11]

2

In [39]:
# force lookup by index label
s5.loc[12]

3

In [42]:
s5.loc[[12, -1, 15]]

 12    3.0
-1     NaN
 15    NaN
dtype: float64

In [44]:
s5

10    1
11    2
12    3
dtype: int64

In [4]:
s3 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s3

a    1
b    2
c    3
dtype: int64

#                                Alignment via index labels

In [5]:
s6 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

In [6]:
s7 = pd.Series([4, 3, 2, 1], index=['d', 'c', 'b', 'a'])

In [7]:
s6

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
s7

d    4
c    3
b    2
a    1
dtype: int64

In [9]:
s6 + s7

a    2
b    4
c    6
d    8
dtype: int64

In [10]:
s3 * 2

a    2
b    4
c    6
dtype: int64

In [11]:
s8 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 5})

In [12]:
s8

a    1
b    2
c    3
d    5
dtype: int64

In [13]:
s9 = pd.Series({'b': 6, 'c': 7, 'd': 9, 'e': 10})

In [14]:
s9

b     6
c     7
d     9
e    10
dtype: int64

In [15]:
s8 + s9

a     NaN
b     8.0
c    10.0
d    14.0
e     NaN
dtype: float64

In [16]:
s10 = pd.Series([1.0, 2.0, 3.0], index=['a', 'a', 'b'])

In [17]:
s10

a    1.0
a    2.0
b    3.0
dtype: float64

In [18]:
s11 = pd.Series([4.0, 5.0, 6.0], index=['a', 'a', 'c'])

In [19]:
s11

a    4.0
a    5.0
c    6.0
dtype: float64

In [20]:
s10 + s11

a    5.0
a    6.0
a    6.0
a    7.0
b    NaN
c    NaN
dtype: float64